{% extends 'layout-transactional.html' %}

{% block pageTitle %}
  Contact us
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      {{ backLink({
      "href": "/contact-us/level-2-complaint",
      "text": "I want to make a complaint"
      }) }}

      <h1 class="nhsuk-heading-l">We do not deal with feedback or complaints about NHS services</h1>

      <h2 class="nhsuk-heading-m">How to give feedback about an NHS service</h2>
      <p>You can give feedback about any NHS care, treatment or service by:</p>
      <ul>
        <li>speaking to a member of staff at the place you went to, such as a GP surgery or hospital</li>
        <li>giving a rating or review – <a href="/service-search">find the place you went to</a> to leave feedback</li>
      </ul>

      <h2 class="nhsuk-heading-m">How to make a complaint about an NHS service</h2>
      <p>You can make a complaint about any NHS care, treatment or service by complaining to:</p>

      <ul>
        <li>a member of staff at the place you went to, such as a GP surgery or hospital</li>
        <li>the organisation in charge of the place you went to – for example, this might be NHS England or your local clinical commissioning group (CCG)</li>
      </ul>

      <p><a href="https://www.england.nhs.uk/contact-us/complaint/complaining-to-nhse/">Contact NHS England</a> if your complaint is about:</p>

      <ul>
        <li>a GP surgery</li>
        <li>an NHS dentist</li>
        <li>an NHS optician</li>
        <li>a pharmacy</li>
        <li>NHS 111</li>
      </ul>

      <p><a href="https://www.nhs.uk/Service-Search/Clinical%20Commissioning%20Group/LocationSearch/1">Contact your local CCG</a> if your complaint is about:</p>

      <ul>
        <li>hospital care</li>
        <li>mental health services</li>
        <li>out of hours services</li>
        <li>community services such as district nursing</li>
      </ul>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>You can speak to the <a href="/Service-Search/Patient-advice-and-liaison-services-(PALS)/LocationSearch/363">Patient Advice and Liaison service (PALS)</a> for advice if your complaint is about care you received in hospital.</p>
      </div>

      <p>Go to the NHS England website for <a href="https://www.england.nhs.uk/contact-us/complaint/">more information on how to make a complaint</a>.</p>
      
      {{ backLink({
      "href": "/contact-us/level-2-complaint",
      "text": "Back"
      }) }}

    </div>
  </div>

{% endblock %}
