{% extends 'layout-transactional.html' %}

{% block pageTitle %}
  Contact us
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
    
      {{ backLink({
      "href": "/contact-us/level-2-healthcare",
      "text": "I have a query about my medical records or NHS information"
      }) }}

      <h1 class="nhsuk-heading-l">
        You cannot see your medical records on the NHS website
      </h1>
      <h2 class="nhsuk-heading-m">How to see your medical records</h2>
      <p>There are different types of medical record.</p>
      <p>You can see your GP records by:</p>
      <ul>
        <li>asking for them at your GP surgery</li>
        <li>going online to see them (if you’ve signed up for online appointment booking or repeat prescriptions)</li>
      </ul>
      <p>Find out <a href="/using-the-nhs/nhs-services/gps/gp-online-services/">how to sign up for GP online services</a>.
      <p>To see your other medical records, ask at your:</p>
      <ul>
        <li>hospital</li>
        <li>dentist</li>
        <li>optician</li>
      </ul>

      <h2 class="nhsuk-heading-m">How to see someone else’s records</h2>
      <p>You can only see someone else’s records if you’ve been given permission to do so.</p>
      <p>Find out <a href="/common-health-questions/nhs-services-and-treatments/can-i-access-someone-elses-medical-records-health-records/">how to see someone else's medical records</a>.</p>
      
      {{ backLink({
      "href": "/contact-us/level-2-healthcare",
      "text": "Back"
      }) }}

    </div>
  </div>

{% endblock %}
