{% extends 'layout-transactional.html' %}

{% block pageTitle %}
  Contact us
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

    <form action="/reasonforcontact-answer" method="post">

        {% call fieldset({
          legend: {
            text: "I would like to report a problem / suggest an improvement with... ",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {{ label({
          "text": "What's it to do with?"
        }) }}

        {{ radios({
          "idPrefix": "",
          "name": "",
          "hint": {
          "text": "Will only be displayed if NHS.UK website has been chosen"
          },
          "items": [
            {
              "value": "wholesite",
              "text": "The whole site"
            },
            {
              "value": "specificpage",
              "text": "A specific page"
            }
          ]
        }) }}

        {{ input({
          "label": {
          "text": "URL"
          },
          "id": "url",
          "name": "url"
        }) }}

        {{ textarea({
          "name": "details",
          "id": "details",
          "label": {
          "text": "What are the details?"
          },
          "hint": {
            "text": "Don't include personal or financial information, eg your National Insurance number or credit card details."
          }
        }) }}

        {{ input({
          "label": {
          "text": "Name"
          },
          "id": "name",
          "name": "name"
        }) }}
                  
        {{ input({
          "label": {
          "text": "Email"
          },
          "hint": {
          "text": "We'll only use this to reply to your message."
          },
          "id": "email",
          "name": "email"
        }) }}



        {% endcall %}

        {{ button({
          "text": "Send message",
          "id": "btn_submit"
        }) }}

      </form>

      {{ backLink({
      "href": "/contact-us/level-3-feedback-nhsukwebsite2",
      "text": "Change my previous answer"
      }) }}

    </div>
  </div>

{% endblock %}
