{% extends 'layout-transactional.html' %}

{% block pageTitle %}
  Contact us
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

    {{ backLink({
    "href": "/contact-us/",
    "text": "Contact us start"
    }) }}

    <form action="/reasonforcontact-answer" method="post">

        {% call fieldset({
          legend: {
            text: "What is the reason for contacting us?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {{ hint({
          "text": "Please choose one of the following options"
        }) }}

        {{ radios({
          "idPrefix": "reasonforcontact",
          "name": "reasonforcontact",
          "items": [
            {
              "value": "medical-problem",
              "text": "I have a medical problem"
            },
            {
              "value": "healthcare-data-query",
              "text": "I have a query about my medical records or NHS information"
            },
            {
              "value": "feedback",
              "text": "I want to give feedback"
            },
            {
              "value": "complaint",
              "text": "I want to make a complaint"
            }, 
            {
              "value": "pims",
              "text": "I need help with PIMS or my organisation profile on the NHS website"
            }
          ]
        }) }}

        {% endcall %}

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>


        {{ details({
          "classes": "nhsuk-expander",
          "text": "Other options",
          "HTML": "
          <p><a href=\"https://digital.nhs.uk/news-and-events/press-office\">Make a press enquiry</a> (journalists only)</p>
          <p><a href=\"https://www.nhs.uk/contact-us/freedom-of-information-foi-requests/\">Make a Freedom of Information (FOI) request</a></p>
          <p><a href=\"https://www.nhs.uk/using-the-nhs/healthcare-abroad/apply-for-a-free-ehic-european-health-insurance-card/\">Apply for a free EHIC (European Health Insurance Card)</a<</p>
          <p>C-RS Appointments</p>
          "
        }) }}


      {{ backLink({
      "href": "/contact-us/",
      "text": "Back"
      }) }}

    </div>
  </div>

{% endblock %}
