{% extends 'layout-transactional.html' %}

{% block pageTitle %}
  Contact us
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

    {{ backLink({
    "href": "/contact-us/level-1",
    "text": "What is the reason for contacting us?"
    }) }}

    <form action="/reasonforcontact-answer" method="post">

        {% call fieldset({
          legend: {
            text: "I want to make a complaint",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {{ hint({
          "text": "Please choose one of the following options"
        }) }}

        {{ radios({
          "idPrefix": "reasonforcontact",
          "name": "reasonforcontact",
          "items": [
            {
              "value": "complaint-nhswebsite",
              "text": "I would like to report a problem with the NHS Website"
            },
            {
              "value": "complaint-nhsservice",
              "text": "I would like to complain about an NHS Service"
            }
          ]
        }) }}

        {% endcall %}

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

      {{ backLink({
      "href": "/contact-us/level-1",
      "text": "Back"
      }) }}

    </div>
  </div>

{% endblock %}
