{% extends 'layout-transactional.html' %}

{% block pageTitle %}
  Contact us
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      {{ backLink({
      "href": "/contact-us/level-1",
      "text": "What is the reason for contacting us?"
      }) }}

      <h1 class="nhsuk-heading-l">We cannot give you medical advice</h1>

      <h2 class="nhsuk-heading-m">Where to get help</h2>

      {{ careCard({
        "type": "non-urgent",
        "heading": "If you do not think it's an emergency:",
        "HTML": "
        <ul>
          <li>use the <a href=\"https://www.nhs.uk/conditions\">NHS website Health A-Z</a> for information on medical conditions</li>
          <li>speak to a pharmacist for advice on medicines or common problems like coughs, colds and rashes</li>
          <li>make an appointment to see your GP or dentist</li>
        </ul>
        "
      }) }}

      {{ careCard({
        "type": "urgent",
        "heading": "If you need help now but you’re not sure what to do:",
        "HTML": "
        <ul>
          <li>go to <a href=\"https://111.nhs.uk\">111.nhs.uk</a> or call 111</li>
        </ul>
        "
      }) }}


      {{ careCard({
        "type": "immediate",
        "heading": "If you think it’s a life-threatening emergency:",
        "HTML": "
        <ul>
          <li>go to A&E if you can or call 999</li>
        </ul>
        "
      }) }}
      <p><a href="https://www.nhs.uk/Service-Search/Accident-and-emergency-services/LocationSearch/428">Find your nearest A&E</a></p>

      {{ backLink({
      "href": "/contact-us/level-1",
      "text": "Back"
      }) }}

    </div>
  </div>

{% endblock %}
