{% extends 'layout-transactional.html' %}

{% block pageTitle %}
  Contact us
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
    
      {{ backLink({
      "href": "/contact-us/level-2-healthcare",
      "text": "I have a query about my medical records or NHS information"
      }) }}

      <h1 class="nhsuk-heading-l">
        I would like to access my own or another persons medical records
      </h1>
      <p>The NHS website team can help with questions and feedback about the website. But we can’t provide personal medical information such as access to your health records.</p>
      <h2 class="nhsuk-heading-m">How do I access my health records?</h2>
      <p>If you’ve had a medical or health appointment, or any treatment, then you’ll have a health record.</p>
      <p>To access your health records you need to contact the service that you visited.</p>
      <p>This could be a:</p>
      <ul>
        <li>GP practice</li>
        <li>hospital</li>
        <li>optician</li>
        <li>dentist</li>
      </ul>
      <p>It’s free for you to access your health records, and healthcare staff must give you access to your health records if you ask for them. </p>
      <p>See more information on <a href="/using-the-nhs/about-the-nhs/how-to-access-your-health-records/">how to access your health records</a></p>
      <h3 class="nhsuk-heading-s">GP online services</h3>
      <p>You can also request GP records online using GP online services.</p>
      <p>Find out more about <a href="/using-the-nhs/nhs-services/gps/gp-online-services/">GP online services</a></p>
      <h3 class="nhsuk-heading-s">If you want to access someone else’s records</h3>
      <p>Health and care records are confidential. You can only access someone else’s records if you’ve been given permission to do so.</p>
      <p>Find out more about <a href="/common-health-questions/nhs-services-and-treatments/can-i-access-someone-elses-medical-records-health-records/">accessing someone else’s medical records</a></p>
      <h3 class="nhsuk-heading-s">If this isn’t what you were looking for</h3>
      <p>Go back to the start screen to contact the Service Desk about the NHS website or find out about another issue.</p>
      
      {{ backLink({
      "href": "/contact-us/level-2-healthcare",
      "text": "Back"
      }) }}

    </div>
  </div>

{% endblock %}
